body {
	background-color: #A1CDE1;
	font-family: 'Turret Road', cursive;
	font-size: 35%;
}

.gamePlayContainer {
	display: grid;
	height: 100vh;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	grid-template-areas: "playerone playertwo"
}


.playerOne {
	display: grid;
	grid-area: playerone;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
	"riderone onecard onecard"
	"onestamina onecard onecard"
	"onespeed onebuttons onedistance"
}

.playerOneDisplayRider {
	grid-area: riderone;
	border-style: dotted;
	border-color: grey;
	max-height: 50%;
	margin: 5px;
}


.playerOneCard {
	grid-area: onecard;
	border-style: solid;
	border-color: grey;
	margin: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	"oneTL oneTR"
	"oneBL oneBR"
}

.cardoneTL {
	grid-area: oneTL;
}

.cardoneTR {
	grid-area: oneTR;

}

.cardoneBL {
	grid-area: oneBL;
}

.cardoneBR {
	grid-area: oneBR;

}


.playerOneStamina {
	grid-area: onestamina;
	border-color: grey;
	border-width: 5px;
	border-style: dotted;
	margin: 5px;
	width: 80%;
}


.playerOneDisplayPace {
	grid-area: onespeed;
	border-color: grey;
	border-width: 5px;
	border-style: dotted;
	margin: 5px;
	max-height: 50px;
}

.playerOneButtons {
	grid-area: onebuttons;

}

.playerOneAttackButton, .playerOneTempoButton, .playerOneRecoverButton {
	height: 50px;
	border-color: grey;
	border-width: 5px;
	border-style: dotted;
	margin: 5px;
	
}



.playerOneDisplayDistance {
	grid-area: onedistance;
	border-color: grey;
	border-width: 5px;
	border-style: dotted;
	margin: 5px;
	max-height: 50px;
}

.playerTwo {
	display: grid;
	grid-area: playertwo;
	height: 100vh;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-areas: 
	"twocard twocard ridertwo"
	"twocard twocard twostamina"
	"twodistance twobuttons twospeed"
}

.playerTwoDisplayRider {
	grid-area: ridertwo;
	border-style: dotted;
	border-color: grey;
	max-height: 50%;
	margin: 5px;
}

.playerTwoCard {	
	grid-area: twocard;
	border-style: solid;
	border-color: grey;
	margin: 10px;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
	"twoTL twoTR"
	"twoBL twoBR"
}

.cardTwoTL {
	grid-area: twoTL;
}

.cardTwoTR {
	grid-area: twoTR;

}

.cardTwoBL {
	grid-area: twoBL;
}

.cardTwoBR {
	grid-area: twoBR;

}

.playerTwoStamina {
	grid-area: twostamina;
	border-color: grey;
	border-width: 5px;
	border-style: dotted;
	margin: 5px;
	width: 80%;
}

.playerTwoDisplayPace {
	grid-area: twospeed;
	border-color: grey;
	border-width: 5px;
	border-style: dotted;
	margin: 5px;
	max-height: 50px;
}

.playerTwoButtons {

}

.playerTwoAttackButton, .playerTwoTempoButton, .playerTwoRecoverButton {
	height: 50px;
	border-color: grey;
	border-width: 5px;
	border-style: dotted;
	margin: 5px;
	max-height: 50px;
}



.playerTwoDisplayDistance {
	grid-area: twodistance;
	border-color: grey;
	border-width: 5px;
	border-style: dotted;
	margin: 5px;
	max-height: 50px;
}



